/* Mobile large view */
@media screen and (min-width: 600px) {

    .side-bar {
        width: 150px;
    }

   .sb-top {
        display: none;
   }

   .sb-bottom {
        display: none;
   }

    .main-content {
        width: calc(100% - 150px);
    }

    .large-bar {
        display: flex;
        flex-direction: column;
    }
}

/* Tablet view */
@media screen and (min-width: 850px) {

    .side-bar {
        width: 150px;
    }

    .sb-top {
        display: none;
    }
    
    .sb-bottom {
        display: none;
    }

    .col {
        width: calc((100% - 30px) / 4);
    }

    .large-bar {
        display: flex;
        flex-direction: column;
        
    }
}


/* Desktop view */
@media screen and (min-width: 1024px) {

    .side-bar {
        width: 150px;
    }   

    .sb-top {
        display: none;
    }
    
    .sb-bottom {
        display: none;
    }

    .col {
        width: calc((100% - 50px) / 6);
    }

    .large-bar {
        display: flex;
        flex-direction: column;
    }
}
